name: tests

on:
  push:

jobs:
  main:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        version: ['3.10', latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@main
      - uses: davidkhala/uv-buildpack@main
        with:
          test-entry-point: pytest --ignore=tests/poetry --ignore=tests/http
          version: ${{matrix.version}}
          tests: .